* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    padding: 50px 0;
    background: radial-gradient(#fff, #5099A1);
}

.container-login{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 425px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span{
    font-weight:bold ;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.separador{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .boton {
    width: 100%;
    border:  none;
    cursor: pointer;
    margin: 10px 0;
}

.boton{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    
}

.boton:hover{
    background: #563434;
}

form .boton:focus {
    outline: none;
}

#formulario-login{
    left: -300px;
}

#formulario-registro{
    left: 0;
}

form a{
    font-size: 12px;
}

#indicador{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

@media(max-width: 768px){
    .login-form{
        grid-column: 1 / -1;
    }

    .login-img{
        display: none;
    }
}